* {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
}

body {
    background-color: #222222;
}

.screen {
    margin: 5vh;
    height: 1080px;
    width: 1920px;
    background-color: #f9e1c0;
    overflow: hidden;
    z-index: 0;
    position: absolute;
}

.clouds {
    width: auto;
    height: 200px;
    position: absolute;
}

.clouds-r1 {
    bottom: -100px;
    z-index: 3;
    animation: cloud-scroll-r1 20s infinite linear;
}

.clouds-r2 {
    bottom: -40px;
    z-index: 2;
    animation: cloud-scroll-r2 20s infinite linear;
}

.clouds-r3 {
    bottom: 40px;
    z-index: 1;
    animation: cloud-scroll-r3 20s infinite linear;
}

@keyframes cloud-scroll-r1 {
    0% {
        left: -100px;
    }
    100% {
        left: -2020px;
    }
}

@keyframes cloud-scroll-r2 {
    0% {
        left: -220px;
    }
    100% {
        left: -2140px;
    }
}

@keyframes cloud-scroll-r3 {
    0% {
        left: -100px;
    }
    100% {
        left: -2020px;
    }
}

.eye {
    background-color: #ead8be;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.squint {
    animation: squint 0.5s ease-out forwards;
}

@keyframes squint {
    0% {
        height: 60px;
        border-radius: 100%;
        margin-top: 0px;
    }
    100% {
        height: 10px;
        border-radius: 0%;
        margin-top: 20px;
    }
}

.anger {
    animation: anger 0.5s ease-out forwards;
}

@keyframes anger {
    0% {
        height: 60px;
        border-radius: 50%;
        margin-top: 0px;
    }
    100% {
        height: 35px;
        border-radius: 20% 20% 100% 100%;
        margin-top: 25px;
    }
}

.angry {
    display: block;
    position: absolute;
    height: 100px;
    width: auto;
    top: 300px;
    left:-280px;
    z-index: 951;
    transform: rotate(30deg);
    animation: pulse 0.6s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        transform: rotate(30deg);
    }
    25% {
        transform: scale(1.2);
        transform: rotate(-30deg);
    }
    50% {
        transform: scale(1);
        transform: rotate(-30deg);
    }
    75% {
        transform: scale(1.2);
        transform: rotate(30deg);
    }
    100% {
        transform: scale(1);
        transform: rotate(30deg);
    }
}

.chili {
    display: block;
    position: absolute;
    height: 120px;
    width: auto;
    top: 580px;
    left:-250px;
    z-index: 951;
}

.left-eyebrow {
    top: 35px;
    left: 28px;
    height: 50px;
    z-index: 941;
    position: absolute;
}

.right-eyebrow {
    top: 35px;
    right: 28px;
    height: 50px;
    z-index: 940;
    position: absolute;
}

.left-eye {
    top: 175px;
    left: 120px;
    z-index: 921;
    position: absolute;
}

.right-eye {
    top: 175px;
    right: 120px;
    z-index: 920;
    position: absolute;
}

.left-shock {
    background-color: #62491f;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    top: 180px;
    left: 125px;
    position: absolute;
    z-index: 995;
}

.right-shock {
    background-color: #62491f;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    top: 180px;
    right: 125px;
    position: absolute;
    z-index: 995;
}

.blink {
    animation: blink 0.1s ease-out forwards;
}

@keyframes blink {
    0% {
        height: 60px;
        border-radius: 50%;
        margin-top: 0px;
    }
    100% {
        height: 35px;
        border-radius: 20% 20% 120% 120%;
        margin-top: 25px;
    }
}

.face-container {
    top: 275px;
    z-index: 900;
    position: absolute;
}

.face {
    height: 350px;
    width: auto;
    z-index: 950;
}

.mouth {
    top: 525px;
    left: -65px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 850;
    position: absolute;
}

.body-container {
    height: 100%;
    width: auto;
    z-index: 800;
    position: absolute;
}

.body {
    height: 100%;
    width: auto;
}

.guoba {
    height: 100%;
    width: auto;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.center-align {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.look-left-le {
    animation: left-le 0.2s ease-in-out forwards;
}

.look-left-re {
    animation: left-re 0.2s ease-in-out forwards;
}

@keyframes left-le {
    0% {

    }
    100% {
        left: 80px;
    }
}

@keyframes left-re {
    0% {

    }
    100% {
        right: 160px;
    }
}

.look-right-le {
    animation: right-le 0.2s ease-in-out forwards;
}

.look-right-re {
    animation: right-re 0.2s ease-in-out forwards;
}

@keyframes right-le {
    0% {

    }
    100% {
        left: 160px;
    }
}

@keyframes right-re {
    0% {

    }
    100% {
        right: 80px;
    }
}

.look-up {
    animation: lookup 0.2s ease-in-out forwards;
}

@keyframes lookup {
    0% {

    }
    100% {
        top: 135px;
    }
}

.look-down {
    animation: lookdown 0.2s ease-in-out forwards;
}

@keyframes lookdown {
    0% {

    }
    100% {
        top: 215px;
    }
}

.speak {
    animation: speak 0.1s linear forwards;
}

@keyframes speak {
    0% {

    }
    100% {
        top: 600px;
    }
}

.fire {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: block;
    position: absolute;
}

.none {
    display: none;
}

.credits {
    color: #dddddd;
    font-family: 'Roboto';
    font-size: 32px;
}